#content {
    width: 98%;
    height: 98%;
    user-select: none;
    display:flex;
}

.canvas,
.icon {
    border: 1px solid black;
    border-width: 1px;
    background-color: white;
}

.layer {
    position: absolute;
    background-color: transparent;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
	border: 1px solid #337ab7;
	background: #337ab7;
	font-weight: normal;
	color: #fff;
}

.col-xs-12 {
    padding:0;
}

#form {
    position:absolute;
    margin-top:10px;
}

input {
    margin-top:5px;
    margin-bottom:5px;
}